<html>
    <head>
        <title> this is a student form</title>
    </head>
    <body>
        <div class='content'>
            <form action='process_form' method='POST'>
                <label for='function'> enter function </label>
                <input type = 'text' name='function' id='function'>

                <label for='symbol'> enter symbol </label>
                <input type = 'text' name='symbol' id='symbol'>

                <label for='interval'> enter interval </label>
                <input type = 'text' name='interval' id='interval'>

                <label for='apikey'> enter apikey </label>
                <input type = 'text' name='apikey' id='apikey'>
                <input type='submit'>
                <label
            </form>
        </div>
    </body>
</html>